/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dictionaries/
/.idea/profiles_settings.xml
/.idea/Project_Default.xml
/.idea/tasks.xml
/.idea/workspace.xml
/configuration/local.php
/data/
/vendor/